<mat-toolbar color="primary">
  <mat-toolbar-row>
    <label>Current values:&nbsp;</label>
    <label>Temperature: {{currentTemperature}}&emsp;</label>
    <label>Humidity: {{currentHumidity}}&emsp;</label>
    <label>Soil: {{currentSoil}}&emsp;</label>
    <label>Light: {{currentLight}}&emsp;</label>
  </mat-toolbar-row>
</mat-toolbar>
  <h2>
    Adjust light
  </h2>
ID: {{selectedValue}}
<br>
<mat-slider min="-1" max="100" step="1" (input)="val = $event.value" [value]="val" (change)="changeLight(val)" style="width: 100%"></mat-slider>
<br><br>

<!--   GRAPH STARTS HERE -->

<mat-form-field>
  <mat-label>Number of data points</mat-label>
  <mat-select (selectionChange)="getSensorData($event)" (input)="updateValue = $event.value">
    <mat-option *ngFor="let u of updates" [value]="u.value">
      {{u.value}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div *ngIf="graphData">
  <mat-form-field>
    <mat-select (selectionChange)="getSensorData(10)"
                placeholder = "Select sensor"
                [(ngModel)]= "selectedSensor" name = "Sensor">
      <mat-option *ngFor = "let s of sensors"
                  [value] = "s.value">
        {{s.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <fusioncharts
    width="100%"
    height="500"
    type="timeseries"
    dataFormat="json"
    [dataSource]="dataSource" >
  </fusioncharts>
</div>
<br>
<form>
  <mat-form-field>
    <input [(ngModel)]="configValue" [ngModelOptions]="{standalone: true}" matInput placeholder="Interval">
  </mat-form-field>
  &nbsp;
  <button mat-raised-button color="primary" (click)="updateInterval()">Update interval</button>
</form>
