<h1 class="sensor-header">
  Sensor Packages Overview
</h1>
<mat-grid-list cols="3">
  <mat-grid-tile
    *ngFor="let s of sensors"
    [colspan]="1"
    [rowspan]="1">

    <mat-card class="sensor-card">
      <a (click)="navigateInfo()">
        <mat-card-header>
          <div mat-card-avatar class="sensor-header-image"></div>
          <mat-card-title>{{s.name}}</mat-card-title>
          <mat-card-subtitle>ID: {{s.id}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.pexels.com/photos/736779/pexels-photo-736779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="{{s.name}}">
        <mat-card-content>
          <p>
            {{s.description}}
          </p>
        </mat-card-content>
      </a>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>

