<div class="center wrapper">
  <br>
  <h2>Login</h2>
  <br>
  <form>
    <mat-form-field class="width">
      <input [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter your username">
    </mat-form-field>
    <br>
    <mat-form-field class="width">
      <input [(ngModel)]="userPw" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" class="width" (click)="login()">Login <i class="fa fa-sign-in"></i></button>
</div>
